{% extends '../library/base.html' %}
{% load static %}
{% block title %}Library | Account{% endblock title %}

{% block content %}
<form class="form" method="post" action="{% url 'user_auth:edit' %}" style="min-width: 60%; padding: 50px 200px 0;">
    {% csrf_token %}
    <div class="border rounded overflow-hidden d-flex align-items-center shadow-sm h-md-250 position-relative p-5" style="gap: 3rem;">
        <div class="col d-flex flex-column position-static p-0" style="gap: 1rem; width: 50%">
            <div class="d-flex flex-column">
                <label for="username" class="form-label">Username*</label>
                <input type="text" name="username" class="form-control" id="username" value="{{ user.username }}"required>
            </div>
            <div class="d-flex flex-column">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" id="first_name" value="{{ user.first_name }}" ></input>
            </div>
            <div class="d-flex flex-column">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="last_name" value="{{ user.last_name }}">
            </div> 
            <div class="d-flex flex-column">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" class="form-control" id="email" value="{{ user.email }}" required>
            </div> 
            <div>
                <input type="submit" value="Update Info" class="btn btn-dark">
                <a href="{% url 'books:book_all' %}" class="btn btn-outline-dark">Home</a>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <h4>Hello {{user.username}}, edit your account!</h4>
            <br>
            <p>Join date: {{user.date_joined}}</p>
            <p>Last login: {{user.last_login}}</p>
            <img src="{% static 'images/logo.png' %}" style="width: 6rem;" />
        </div>
    </div>
</form>
{% endblock %}